<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game Platform{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'games/index/index.css' %}">
</head>
<body>
    <header class="main-header">
        <h1><a href="{% url 'home' %}">Game Platform</a></h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
            
        </nav>
    </header>
    <main class="content-container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="main-footer">
        <p>© {{ year }} Game Platform. All Rights Reserved.</p>
    </footer>
</body>
</html>
